body{
   background-color:;
 
}

.container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px ;
 grid-template-rows:  auto;
 grid-template-areas:
   "answer answer answer answer"
   "percentage percentage percentage percentage"
   "multiply multiply multiply multiply"
   "subtract subtract subtract subtract"
   "addition addition addition addition"
   "equals equals equals equals"
 ;
 margin: 0 0 0 0;
 padding: 0;
 color: white;
 width:400px;
 height:400px;
}


.answer{
  gride-area: answer;
  grid-column: 1 / span 4;
  background: rgba(40, 116, 166, 0.1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
  border-color: red;
  border-radius: 50%;
  background-color: #1b1d1c;
  height: 100px;
  box-shadow: 0px 8px 8px 8px black;

}

.percentage{
  grid-area: percentage;
  grid-column: 1 / span 4;
  grid-row: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

}

  .percentage button{
           flex-grow: 1;
    }

.multiply{
  grid-area: multiply;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;


}

  .multiply button{
     flex-grow: 3;
    }


.subtract{
  grid-area: subtract;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

}

    .subtract button{
          flex-grow: 3;
      }

.addition{
  grid-area: addition;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  }

    .addition button{
      flex-grow: 3;
    }

.equals{
  grid-area: equals;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

  .equals button{
   flex-grow: 3;
}

.depressed{
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

div button{
  border-color: red;
  border-radius: 50%;
  background-color: #1b1d1c;  ;
  box-shadow: 2px 2px 8px 8px black;

}

div button:hover{
 font-size: 20px;
}